<div class="players-managers">

  <h1><%= @club.name %></h1>
  <div class="players-managers-inner">

    <ul>
      <h4>Players</h4>
      <% @club.players.each do |p| %>
      <li>
        <%= link_to p.plyname, player_path(p.id), :style => "color: #ffffff;", :class => "scss-class" %>
      </li>
      <%end %>
    </ul>

    <ul>
      <h4>Managers</h4>
        <% @club.employees.each do |e| %>
      <li>
        <%= link_to e.name, employee_path(e.id), :style => "color: #ffffff;", :class => "scss-class"%>
      </li>
        <% end %>
    </ul>
  </div>

  <div class="disqus">


<div id="disqus_thread">
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://proj12.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</div>


</div>
