<div class="players_heading">
  <!-- <h2>Premier League </h2> -->
  <h2>Fixtures & Results</h2>
</div>


<div class="widgets">
  <div id="DOM_element_id_in_your_website_1611883316334"></div>

  <script>
    (function(b, s, p, o, r, t) {
      b["broadage"] = b["broadage"] || [];
      if (!b["broadage"].length) {
        r = document.createElement(s);
        t = document.getElementsByTagName(s)[0];
        r.async = true;
        r.src = p;
        t.parentNode.insertBefore(r, t);
      }
      b["broadage"].push({ "bundleId": o.bundleId, "widgets": o.widgets, "accountId": o.accountId });
    })(window, "script", "//cdn-saas.broadage.com/widgets/loader/loader.js", {
      "bundleId": ["soccer-fx"],
      "accountId": "ebfc2e8b-9fa9-4722-98cf-d81b181eb51d",
      "widgets": {
        "soccerFixture": [{
          "element": "DOM_element_id_in_your_website_1611883316334",
          "tournamentId": 2
        }]
      }
    });
  </script>
</div>
